
body {
  position: relative;
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#input-box {
  margin: 0 auto;
  margin-top: 280px;
}

#round {
  position: absolute;
  border-radius: 50%;
  background-color: green;
  width: 100px;
  height: 100px;
  left: 400px;

}

#userForm {
  float: none;
  display: block;
  margin: 0 auto;
}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

md-sidenav.md-locked-open {
  width: 150px !important;
  min-width: 150px !important;
  max-width: 150px !important;
}

md-input-container .md-placeholder:not(.md-select-label), md-input-container label:not(.md-no-float) {
  color: white;
}

md-input-container:not(.md-input-has-value) input:not(:focus).input-style{
  border-color: white;
  color: white;

}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input.input-style{

  border-color: #999999;
  color: #999999;
}

md-input-container.md-default-theme .md-input {
  color: white;
  border-color: white;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label {
  color: lightblue;
}

.input-label {
  color: white;
}
