<div id="clash">
	<div class="container">
		<div id="options-section" layout-padding layout-wrap layout="row" layout-sm="column">
			<md-whiteframe class="md-whiteframe-z5 options-box" layout layout-align="center center" id="option-artists" flex>
				  <!-- <directive> </directive> -->
					<uib-carousel interval="vm.myInterval" no-wrap="vm.noWrapSlides">
			      <uib-slide ng-repeat="slide in vm.artistsSlides" active="slide.active">
							<a href="#">
								<img ng-src="{{slide.image}}" style="margin:auto;">
			        	<div class="carousel-caption">
									{{ slide.name }}
									</div>
							</a>
			      </uib-slide>
						<div class="box-caption box-artists">Popular Artists</div>
			    </uib-carousel>
			</md-whiteframe>
			<md-whiteframe class="md-whiteframe-z5 options-box" layout layout-align="center center" id="option-songs" flex>
					<!-- <directive> </directive> -->
					<uib-carousel interval="vm.myInterval" no-wrap="vm.albumSlides">
						<uib-slide ng-repeat="slide in vm.albumSlides" active="slide.active">
							<a href="#">
								<img ng-src="{{slide.image}}" style="margin:auto;">
								<div class="carousel-caption album">
										<span>{{ slide.album }} </span> <br>
										<span class="album-artist-caption"> by {{ slide.name }} </span>
									</div>
							</a>
						</uib-slide>
						<div class="box-caption box-albums">Popular Albums</div>
					</uib-carousel>
			</md-whiteframe>
			<md-whiteframe class="md-whiteframe-z5 options-box" layout layout-align="center center" id="option-albums" flex>
				  <!-- <directive> </directive> -->
					<!-- <directive> </directive> -->
					<uib-carousel interval="myInterval" no-wrap="noWrapSlides">
						<uib-slide ng-repeat="slide in vm.slides" active="slide.active">
							<a href="#">
								<img ng-src="{{slide.image}}" style="margin:auto;">
								<div class="carousel-caption">
										Daler
									</div>
							</a>
						</uib-slide>
						<div class="box-caption box-songs">Popular Songs</div>
					</uib-carousel>
			</md-whiteframe>
			<md-whiteframe class="md-whiteframe-z5 options-box" layout layout-align="center center" id="option-events" flex>
					<!-- <directive> </directive> -->
					<!-- <directive> </directive> -->
					<uib-carousel interval="myInterval" no-wrap="noWrapSlides">
						<uib-slide ng-repeat="slide in vm.slides" active="slide.active">
							<a href="#">
								<img ng-src="{{slide.image}}" style="margin:auto;">
								<div class="carousel-caption">
										Daler
									</div>
							</a>
						</uib-slide>
						<div class="box-caption box-events">Events Nearby</div>
					</uib-carousel>
			</md-whiteframe>
		</div>
	</div>
</div>
