<html lang="en" ng-app="app">
  <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/magic/magic.min.css">
    <meta name="viewport" content="initial-scale=1" />
  </head>
  <body layout="column">


  <div id="input-box" class="col-lg-5 col-md-8 col-sm-8 col-xs-10">
    <form name="userForm" id="userForm" class="col-lg-8">
          <div layout layout-sm="column">
           <md-input-container flex>
              <label class="input-label">Email</label>
              <input ng-model="user.email" class="input-style">
            </md-input-container>
          </div>
          <div layout layout-sm="row">
            <md-input-container flex>
              <label class="input-label">Favorite Genre</label>
              <input ng-model="theMax" class="input-style">
            </md-input-container>
          </div>
      </form>
  </div>
  <div id="round" >
  </div>


    <!-- Angular Material Dependencies -->
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
		<script src="js/main.js"> </script>
    <script src="js/controllers/maincontroller.js"> </script>
    <script src="js/controllers/usercontroller.js"> </script>
    <script type="text/javascript">
    </script>
    </script>
  </body>
</html>
