.artist-image-i {
  width: 100%;
  height: 310px;
}

.artist-name-i {
  font-size: 50px;
}

.wrapper-left-i {
  text-align: center;
}

.list-of-songs {

}

.song-box {
  height: 310px;
  overflow-y: auto;
}
