<div class="panel panel-info album-list-box" ng-repeat="album in vm.albums" ng-if="$index > 0">
  <div class="panel-heading">{{ album.artistName }}</div>
  <div class="panel-body panel-body-style">
    <div class="list-group list-group-style">
        <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-cd"></span> Album name: <span class="badge unique-badge">{{ album.collectionName }}</span>
        </a>
        <a href="#" class="list-group-item img-align">
          <img ng-src="{{album.artworkUrl100}}" alt="{{album.collectionName}} artwork" class="artwork">
        </a>
        <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-music"></span> Number of tracks: <span class="badge unique-badge">{{ album.trackCount }}</span>
        </a>
        <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-sound-stereo"></span> Genre: <span class="badge unique-badge">{{ album.primaryGenreName }}</span>
        </a>
        <a href="#" class="list-group-item img-align" ng-if="album.collectionExplicitness === 'explicit'">
              <div class="explicit-wrapper pull-left">
                  <span class="glyphicon glyphicon-warning-sign"></span> <span> Explicit: </span>
              </div>
              <img class="explicit-stamp-imgs stamp" ng-src="{{vm.stampImgSrc}}" alt="Explicit advisory stamp">
        </a>
    </div>
  </div>
</div>

<div class="favorites">
  <h4 style="background: lightblue; margin:0; padding: 5px;">Favorite albums</h4>
  <ul style="background: #F2F2F2; ">
    <li>
         Daler
    </li>
    <li>
         Daler
    </li>
  </ul>
</div>
