<div ng-repeat="album in vm.albums" ng-if="$index > 0" class="album-list-box">
  <itunes-album album="album" click="vm.favorite(album)"></itunes-album>
</div>


<div class="favorites">
  <h4 class="favorites-list-header">Favorite albums</h4>
  <div>
     <p ng-if="!vm.favorites.length">No favorited songs</p>
     <ul class="favorites-list">
       <li ng-repeat="favorite in vm.favorites">
         {{favorite.collectionName}} by {{favorite.artistName}}
       </li>
       <li ng-if="vm.alreadyFavoritedNotice" class="alreadyFavoritedNotice">Already in favorites! Choose another one.</li>
     </ul>
   </div>

</div>
